@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('body.css');
@import url('header.css');
@import url('heading.css');

.buttons {
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

/* Student and School buttons */
.edit_button, .add_students_button {
    display: inline-block;
    font-size: 30px;
    border-radius: 30px;
    background: #43AC6A;
    padding: 20px; 
    width: 250px;
    line-height: 150px;
    height: 150px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-weight: bold;
}
.edit_button {
    margin-right: 5%;
}
.add_students_button {
    margin-left: 5%;
}